*{
  margin: 0;
  padding: 0;
  font-family: Noto-regional, Noto-latin, TCCC-UnityText, sans-serif; 
  box-sizing: border-box;
}
@media screen and (max-width:1024px) {
  .x-container{
    display: flex;
  flex-direction: row-reverse;
  }
.x-mark{
  font-size: 20px;
  margin-top: 30px;
  margin-right: 218px;
}  
.list-container{
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  margin-top:40px ;

}
.list2, .list3{
  display: flex;
  align-items: center;
  justify-content: space-between;
   
}
.list1 h3, .list2 h3, .list3 h3{
  font-size: 27px;
  margin-left: 170px;
}
.list2 i{
  font-size: 18px;
  margin-left: 500px;

}
 .list3 i{
  font-size: 18px;
  margin-left: 528px;
 }
 .buttons-container{
  margin-top: 40px;
 }
 .buttons-container p{
  margin-left:170px ;

 }
 .button1{
  margin-top: 20px;
  margin-left: 170px;
  width: 500px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 700;
 }
 .button2{
  margin-top: 20px;
  margin-left: 170px;
  width: 500px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
 }
 .buttons-container hr{
  width: 650px;
  margin-left: 170px;
  margin-top: 30px;
  border: none;
  height: 1px;
  background-color: #d3d3d3;

 }
 #buttons-p{
font-size: 13px;
margin-top: 35px;
 }
 .button3{
  margin-left: 170px;
  margin-top: 20px;
  width: 500px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
 }
 .button3 i{
  margin-right: 10px;
 }

}

@media screen and (max-width:912px) {
  .x-mark{
    margin-right: 105px;
  }
}


@media screen and (max-width:853px) {
  .x-mark{
    margin-right: 145px;
  }
  .list2 i{
    margin-left: 400px;
  }
  .list3 i{
    margin-left: 425px;
  }
  .button1{
    width: 400px;
  }
  .button2{
    width: 400px;
  }
  .button3{
    width: 400px;
  }
  .buttons-container hr{
    width: 460px;
  }
 
}

@media screen and (max-width:820px) {
  .x-mark{
    margin-right: 165px;
  }
  .list2 i{
    margin-left: 350px;
  }
  .list3 i{
    margin-left:375px ;
  }
  .buttons-container hr{
    width: 500px;
  }
}

@media screen and (max-width:768px) {
  .x-mark{
    margin-right: 113px;
  }
}

@media screen and (max-width:540px) {
  .x-mark{
    margin-right: -8px;
    font-size: 30px;
  }
  .list1,.list2, .list3{
    width: 700px;
  
   
  }
  .list1 h3, .list2 h3, .list3 h3{
    margin-left: 20px;
    font-size: 35px;
  }
  .list3 i{
    margin-left: 382px;
  }

 
  .buttons-container p{
    margin-left:20px ;
    font-size: 20px;
   margin-top: 90px;
  }
  
  .button1{
    margin-left: 20px;
    width:620px ;
    height: 50px;
     font-size: 25px;
     margin-top: 35px;
  }
  .button2{
 margin-left: 20px;
 width:620px ;
    height: 50px;
    font-size: 25px;
  }
  .button3{
 margin-left: 20px;
 width:620px ;
    height: 50px;
     font-size: 25px;
     margin-top: 35px;
  }
  .buttons-container hr{
    margin-left: 20px;
    width: 620px;
    margin-top: 40px;
    
  }
  #buttons-p{
    font-size: 15px;
  }
}

@media screen and (max-width:430px) {
  .list-container{
    row-gap: 15px;
  }
  .x-container{
    flex-direction: row;
  }
  .x-mark{
    margin-left: 628px;
  }
    .list1 h3, .list2 h3, .list3 h3{
      font-size: 40px;
    }
    .list2 i{
margin-left:420px ;
font-size: 25px;
    }
    .list3 i{
      margin-left:458px ;
      font-size: 25px;
    }
    .buttons-container p{
      font-size: 25px;
    }
    .button1{
      height: 65px;
      border-radius: 30px;
      font-size: 30px;
    }
     .button2{
      height: 65px;
      border-radius: 30px;
      font-size: 30px;
    }
     .button3{
      height: 65px;
      border-radius: 30px;
      font-size: 30px;
    }
    #buttons-p{
      font-size: 18px;
    }
}

@media screen and (max-width:414px) {
  
  .list1 h3, .list2 h3, .list3 h3{
    font-size: 45px;
  }
  .list2 i{
    margin-left:  405px ;
  }
    .list3 i{
    margin-left:  448px ;
  }
  .buttons-container p{
    width: 650px;
    font-size: 30px;
  }
  .button1{
    margin-top: 45px;
  }
  .buttons-container hr{
    margin-top: 50px;
  }
  #buttons-p{
font-size: 20px;
margin-top: 50px;
  }
  .button3{
    margin-top: 50px;
  }
}

@media screen and (max-width:412px) {
  .list2 i{
    margin-left: 400px;
  }
  .list3 i{
    margin-left:444px ;
  }
}

@media screen and (max-width:390px) {
 
}

@media screen and (max-width:375px) {
 
}