@media screen and (width:1024px) {
    .navbar{
    height: 100px;
  }
  .navbar a{
    display: none;
  }
  .navbar i{
    display: none;
  }
  .navbar img{
    width: 150px;
    margin-left: -10px;
  }
  .navbar button{
    flex: 0 0 auto;
    display: block;
    width: 80px !important;
    height: 40px;
    margin-left: 600px;
    margin-right: -40px;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  #humburger{
    display: block;
    font-size: 25px;
    }

    #humburger:hover{
  transition: none;
  transform: none;
    }

#a-hu{
  display: block;

}

.navbar a:hover::after,
#a-hu:hover::after {
  content: none !important;
  display: none !important;
  
}


  .slider{
  width: 650px;
  height:800px ;
  }
hr{

  margin-left: 10px;
}
#btn2{
  width: 900px;
}
.words h3{
  font-size: 30px;
}
#popular{
  margin-top: 30px;
}
.section{
  height: 3850px;
  
}
.section2{
  grid-template-columns: auto;
}
.grid2{
 width: 950px;
 height:250px;
 margin-top: -750px;
 margin-left: 30px;
}
.grid2 h3{
  font-size: 30px;
  padding-left: 40px;
  margin-top: 40px;
}
.grid2 p{
  font-size: 16px;
  padding-left:40px ;
  padding-top:10px;
}
.grid1{
width: 1024px;
height: 600px;
margin-right: 0px;
border-radius: 0;
margin-top: 180px;
}
.grid3{
  width: 950px;
  height: 250px;
  margin-top: 60px;
  margin-left: 30px;
}
.grid3 h3{
  font-size: 30px;
  padding-left:40px ;
 margin-top: 40px;
}
.grid3 p{
  font-size: 16px;
  padding-left: 40px;
  padding-top: 10px;
}
.grid4{
width: 1077px;
height: 600px;
margin-right: 0px;
border-radius: 0;
margin-top: -180px;
}
#explore{
  font-size: 30px;
}
.section3{
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}
.grid5{
  width: 470px;
  height: 470px;
  margin-left: 20px;
}
.grid6{
    width: 470px;
  height: 470px;
  margin-left: 10px;
}
.grid7{
  width: 470px;
  height: 470px;  
}
.grid5 img{
  width: 320px;
  margin-top: 40px;
}
.grid6 img{
  width: 320px;
   margin-top: 110px;
}
.grid7 img{
  width: 320px;
   margin-top: 40px;
}
.section3 .grid7{
      grid-column: span 2; /* Make it stretch across both columns */
    justify-self: center; /* Center it */

}

#btn3{
  width: 900px;
}
.footer{
  height: 650px;
}
.section4{
  column-gap: 220px;
}
.sec1{
  margin-left: 120px !important;
  margin-top: 20px;
}
.sec2{
 margin-top: 20px;
 margin-left: 180px;
}
.section5{
  grid-template-columns: repeat(2, 2fr);
}
.section5 .sec5{
margin-top: -160px;
margin-left: 80px;
}

.section5 .sec3{
  margin-left: 80px;
}
.section5 .sec6{
  display: none;
}
hr{
  margin-left: 80px !important;
  width: 800px;
}
.footer-btn{
  display: block;
  
}
.footer-btn button{
  
  border-radius: 70%;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 30px;
  padding: 10px;
  color: white;
  width: 35px;
  height: 35px;
}
#linked{
  margin-left: 80px;
}
#copyright{
  margin-left: 80px;
}
}


@media screen and (max-width:912px) {
    .navbar{
    height: 100px;
  }
  .navbar a{
    display: none;
  }
  .navbar i{
    display: none;
  }
  .navbar img{
    width: 150px;
    margin-left: 30px;
  }
  .navbar button{
    flex: 0 0 auto;
    display: block;
    width: 80px !important;
    height: 40px;
    margin-left: 320px;
    margin-right: -40px;
    text-align: center;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  #humburger{
    display: block;
    font-size: 25px;
   }
     #humburger{
      transition: none;
      transform: none;
     }
   
    #a-hu{
    display: block;
    
   }
  
   .navbar a:hover::after,
#a-hu:hover::after {
  content: none !important;
  display: none !important;
}
  
  .slider{
  width: 650px;
  height:800px ;
  }
hr{

  margin-left: 10px;
}
.words h3{
  font-size: 30px;
}
#popular{
  margin-top: 30px;
}
.section{
  height: 3750px;
}
.section2{
  grid-template-columns: auto;
}
.grid2{
 width: 850px ;
 height:250px;
 margin-top: -750px;
 margin-left: 30px;
}
.grid2 h3{
  font-size: 30px;
  padding-left: 40px;
  margin-top: 40px;
}
.grid2 p{
  font-size: 16px;
  padding-left:40px ;
  padding-top:10px;
}
.grid1{
width: 910px ;
height: 600px;
margin-right: 0px;
border-radius: 0;
margin-top: 180px;
}
.grid3{
  width: 850px;
  height: 250px;
  margin-top: 60px;
  margin-left: 30px;
}
.grid3 h3{
  font-size: 30px;
  padding-left:40px ;
 margin-top: 40px;
}
.grid3 p{
  font-size: 16px;
  padding-left: 40px;
  padding-top: 10px;
}
.grid4{
width: 970px;
height: 600px;
margin-right: 0px;
border-radius: 0;
margin-top: -180px;
}
#explore{
  font-size: 30px;
}
.section3{
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}
.grid5{
  width: 420px;
  height: 420px;
  margin-left: 20px;
}
.grid6{
    width: 420px;
  height: 420px;
  margin-left: 10px;
}
.grid7{
  width: 420px;
  height: 420px;  
}
.section3 .grid7{
      grid-column: span 2; /* Make it stretch across both columns */
    justify-self: center; /* Center it */

}

#btn3{
  width: 720px;
}
.footer{
  height: 650px;
}
.section4{
  column-gap: 220px;
}
.sec1{
  margin-left: 130px !important;
  margin-top: 60px;
}
.sec2{
 margin-top: 60px;
}
.section5{
  grid-template-columns: repeat(2, 2fr);
}
.section5 .sec5{
margin-top: -160px;
margin-left: 110px;
}

.section5 .sec3{
  margin-left: 110px;
}
.section5 .sec6{
  display: none;
}
hr{
  margin-left: 110px ;
  width: 650px;
}
.footer-btn{
  display: block;
  
}
.footer-btn button{
  
  border-radius: 70%;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 30px;
  padding: 10px;
  color: white;
  width: 35px;
  height: 35px;
}
#linked{
  margin-left: 110px;
}
#copyright{
  margin-left: 110px;
}
.grid5 img{
  width: 290px;
  margin-top: 20px;
}
.grid6 img{
  width: 290px;
   margin-top: 80px;
}
.grid7 img{
  width: 290px;
   margin-top: 20px;
}
}




@media screen and (min-width:360px) and (max-width:375px) {
  .section{
    height: 3540px !important;
   
  }
  .navbar{
    height: 120px;
  }
  .navbar img{
    width: 600px !important;
    height: 20px;
    margin-left: -20px !important;
  }
  .navbar button{
    margin-left: -40px;
    width: 100px !important;
    font-size: 20px;
    height: 40px;
    border-radius: 40px;
    font-weight: 700;
  }
  #humburger{
    margin-left: -0px !important;
  }
  .slider{
    width: 350px;
    height:550px ;
  }
  .slider img{
   margin-top: -20px;
    margin-left: 10px !important;
  }
 .radio input{
  height: 20px;
  width: 20px;
 }
 .words h3{
  margin-top: 20px;
  font-size: 35px;
  margin-left: 10px !important;
 
 }
 #btn2{
  width:300px ;
  height: 50px;
  border-radius: 40px;
  font-size: 20px;
 }
 .grid2{
  width: 340px !important ;
  margin-left: 50px !important;
  height: 600px;
  margin-top: -1100px;
 }
 .grid2 h3{
  font-size: 35px;
 }
 .grid2 p{
  font-size: 20px;
 }
 .grid1{
  width: 394px !important;
  
  margin-left: 0px;
  margin-top: 550px !important;
 }
 .grid3{
  width: 340px;
  margin-left: 35px !important;
  height: 400px;
 }
 .grid3 h3{
  font-size: 30px;

 }
 .grid3 p{
  font-size: 15px;
 }
 .grid4{
  width: 394px !important;
  margin-left: 0px;
 }
 #explore{
  font-size: 35px;
 }
 .section3{
  gap: 0px;
 }
 .grid5{
  width: 160px;
  height: 160px;
 margin-left: 20px;
 }
 .grid6{
  width: 160px;
  height: 160px;
 }
 .grid7{
  width: 160px;
  height: 160px;
 }
.section3 .grid7{
      grid-column: span 2; /* Make it stretch across both columns */
    justify-self: center; /* Center it */
  margin-left: 30px;
  margin-top: 15px;
  
}
.grid5 img{
  width: 120px;
}
.grid6 img{
  width: 120px;
  margin-top: 40px;
}
.grid7 img{
  width: 120px;
}

#btn3{
  width: 300px;
  margin-left: 20px !important;
 
  height: 40px !important;
  border-radius: 45px;
  font-size: 30px;
}
hr{
  width: 20px;
}


}





